{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env",
    "latest",
    "react-app-babel-7"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ]
  ]
}